<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title>EasyCrag</title>
</head>
<body>
	<div th:replace="fragments/base.html :: authBar"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="navBar">
		<a th:href="@{/index}">Home ></a> <a th:href="@{'/regione'+'/'+${falesia.getRegione().getId()}}" th:text="${falesia.getRegione().getNome()}">regione</a> 
	</div>
	<h3 th:text="${falesia.nome}"></h3>
	<div>
		<p th:text="${falesia.descrizione}"></p>
	</div>
	<div class="table">
		<table>
			<tr>
				<th>Nome via</th>
				<th>numero ripetizioni</th>
			</tr>
			<th:block th:each="via:${vie}">
				<tr>
					<td><a th:href="@{'/via'+'/'+${via.id}}" th:text="${via.nome}"></a></td>
					<td><p th:text ="${via.getRipetizioni.size()}"></p></td>
	
				</tr>
			</th:block>
		</table>	
	</div>
</body>
</html>