<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title>EasyCrag</title>
</head>
</head>
<body>
	<div th:replace="fragments/base.html :: authBar"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h3>Login</h3>
	</div>
	<div class=loginForm>
		<form th:action="@{/login}" method="POST">
				<div>
					<span>Username:</span> <span><input name="username"
						type="text" required /></span>
				</div>
				<div>
					<span>Password:</span> <span><input name="password"
						type="password" required /></span>
				</div>
				<div>
					<span><button type="submit">Login</button></span>
				</div>
		</form>
	</div>


</body>
</html>